//====================================================|
// MESSAGE


//--------------------------| Root

.root {
  white-space: nowrap;
}


//--------------------------| Paragraph

.paragraph {
  @include margin-h(0.2em);
  @include white-line();

  width: 100%;
  margin: 0;
  font: map-get($roles-typo-font-weights, 'message') map-get($roles-typo-font-sizes, 'message') map-get($roles-typo-font-families, 'message');
  background-color: map-get($roles-col-backgrounds, 'guess-line');
}
