//====================================================|
// MESSAGE


.pa-message {

  //--------------------------| Base

  margin: 0;
  font: normal map-get($roles-typo-font-sizes, 'message') map-get($roles-typo-font-families, 'message');
  color: map-get($roles-col-texts, 'message');


} // .pa-message
