//====================================================|
// MESSAGE


//--------------------------| Root

.root {
  white-space: nowrap;
}


//--------------------------| Paragraph

.paragraph {
  @include margin-h(0.2em);
  @include white-line();

  width: 100%;
  margin: 0;
  font: var(--role-typo-font-weight-message) var(--role-typo-font-size-message) var(--role-typo-font-family-message);
  background-color: var(--role-col-bgr-guess-line);
}
