//====================================================|
// GUESSES


//--------------------------| Root

.root {
  @include display-flex();
  @include flex-direction(column);

  width: 100%;
  height: 100%;
}


//--------------------------| Head

.head {
  @include display-flex();
  @include justify-content(space-between);

  padding: get-em-unit(map-get($roles-offsets, 'guesses'));
  font: map-get($roles-typo-font-weights, 'sys') map-get($roles-typo-font-sizes, 'sys') map-get($roles-typo-font-families, 'sys');
  color: map-get($roles-col-texts, 'sys');

  &[data-visible='false'] {
    visibility: hidden;
  }
}


//--------------------------| Label

.label {
  &:first-child {
    padding-left: get-em-unit(map-get($roles-offsets, 'guess-line'));
    text-align: left;
  }

  &:last-child {
    padding-right: get-em-unit(map-get($roles-offsets, 'guess-line'));
    text-align: right;
  }

  &:nth-child(1),
  &:nth-child(2) {
    @include flex(1);
  }

  &:nth-child(2) {
    text-align: left;
  }

  &:nth-child(3) {
    @include flex(2);
  }
}


//--------------------------| Wrapper

.wrapper {
  @include flex(1);

  padding: 0.2em;
}


//--------------------------| List

.list {
  @include display-flex();
  @include flex-direction(column-reverse);
  @include justify-content(flex-end);

  margin-bottom: 3em;
}


//--------------------------| Guess line

.guess-line {
  &:not(:last-child) {
    margin-top: get-em-unit(map-get($roles-offsets, 'guesses'));
  }
}
