//====================================================|
// STAMP


.pa-stamp {

  //--------------------------| Variables

  $min-width-value: 316px;
  $min-width: map-get($reg-screens, 'min-w'); // 320
  $ratio-w: map-get($reg-proportions-app, 'w');
  $ratio-h: map-get($reg-proportions-app, 'h');


  //--------------------------| Base

  @include translate(-50%, -50%);

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 50vh;
  min-width: $min-width-value;

  @media screen and (max-width: map-get($reg-screens, 'max-w')) and (orientation: portrait) {
    width: #{100 * $min-width-value / map-get($reg-screens, 'min-w')}vw;
  }

  @media screen and (max-width: $min-width) {
    @include translate(0, -50%);

    left: ($min-width - $min-width-value) / 2;
  }


  //--------------------------| SVG

  svg {
    display: block;
  }

  .bull,
  .cow {
    fill: rgba(map-get($reg-colors, 'black'), .1);
  }

  .ground {
    fill: transparent;
  }


} // .pa-stamp
