//====================================================|
// STAMP


.pa-stamp {

  //--------------------------| Base

  @include translate(-50%, -50%);

  position: absolute;
  top: 50%;
  left: 50%;
  width: 66vh;


  //--------------------------| SVG

  circle {
    fill: transparent;
  }

  path {
    fill: rgba(map-get($reg-colors, 'black'), .1);
  }


} // .pa-stamp
