//====================================================|
// RESULT ITEM


//--------------------------| Root

.root {
  @include display-flex();
  @include align-items(center);

  font-family: map-get($roles-typo-font-families, 'digits');
  font-size: map-get($roles-typo-font-sizes, 'result');

  &[data-value='0'] {
    font-weight: map-get($roles-typo-font-weights, 'null-point');
    color: map-get($roles-col-texts, 'score-point');
  }

  &:not([data-value='0']) {
    font-weight: map-get($roles-typo-font-weights, 'score-point');
    color: map-get($roles-col-texts, 'score-point');
  }
}


//--------------------------| Icon

.icon {
  width: 1.2em;
  margin-right: 0.2em;

  [data-role='bull'] & svg {
    fill: map-get($roles-col-animals, 'bull');
  }

  [data-role='cow'] & svg {
    fill: map-get($roles-col-animals, 'cow');
  }
}


//--------------------------| Value

.value {
  font-style: normal;
}
