//====================================================|
// RESULT ITEM


//--------------------------| Root

.root {
  display: flex;
  align-items: center;
  font-family: var(--role-typo-font-family-digits);
  font-size: var(--role-typo-font-size-result);

  &[data-value='0'] {
    font-weight: var(--role-typo-font-weight-null-point);
    color: var(--role-col-text-score-point);
  }

  &:not([data-value='0']) {
    font-weight: var(--role-typo-font-weight-score-point);
    color: var(--role-col-text-score-point);
  }
}


//--------------------------| Icon

.icon {
  width: 1.2em;
  margin-right: 0.2em;

  [data-role='bull'] & svg {
    fill: var(--role-col-animal-bull);
  }

  [data-role='cow'] & svg {
    fill: var(--role-col-animal-cow);
  }
}


//--------------------------| Value

.value {
  font-style: normal;
}
