{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "max-nesting-depth": 3,
    "max-empty-lines": null,
    "number-leading-zero": "never",
    "order/properties-alphabetical-order": null
  }
}
