//====================================================|
// MAIN


//--------------------------| Root

.root {
  @include display-flex();
  @include flex(1);

  margin-top: 3em;
}


//--------------------------| Body

.body {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);

  position: relative;
  width: 100%;
  overflow: hidden;
}


//--------------------------| Playground

.playground {
  @include display-flex();
  @include flex-direction(column);
  @include flex(1);
  @include padding-h(get-em-unit(map-get($roles-offsets, 'main')));

  width: 100%;
}


//--------------------------| Input form

.input-form {
  width: 100%;
  margin-top: get-em-unit(map-get($roles-offsets, 'modules'), 'rem');
}


//--------------------------| Win label

.win-label {
  margin-bottom: 2em;
}


//--------------------------| Media queries

@include mq-screens-big-landscape() {
  .root {
    margin: 1em 3em 0;
  }

  .body {
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(flex-start);

    height: 100%;
    padding: 0;
  }

  .new {
    @include translateX(-50%);

    position: absolute;
    top: 0;
    left: 50%;
  }

  .input-form {
    width: 50%;
    margin-top: 6.4em;
  }

  .playground {
    width: 50%;
    height: 100%;
    padding: 0;
    margin-top: 4em;
  }

  .guesses {
    height: calc(100% - 4em);
  }

  .win-label {
    @include flex(none);
    @include translate(-50%, -50%);

    position: absolute;
    top: 14em;
    left: 25%;
    width: 40%;
  }
}
