//====================================================|
// VALIDATION NOTE


.pa-validation-note {

  //--------------------------| Base

  position: absolute;
  top: 3.8em;
  left: 0;
  width: 100%;
  font-weight: map-get($roles-typo-font-weights, 'validation');
  color: map-get($roles-col-validation, 'error');
  text-align: center;


} // .pa-validation-note
