//====================================================|
// VALIDATION NOTE


//--------------------------| Root

.root {
  position: absolute;
  top: 3.8em;
  left: 0;
  width: 100%;
  font-weight: var(--role-typo-font-weight-validation);
  color: var(--role-col-validation-error);
  text-align: center;
}
