//====================================================|
// BUTTON


//--------------------------| Root

.root {
  padding: 0.3em 2em 0.5em;
  font-size: var(--role-typo-font-size-button);
  line-height: 1;
  color: var(--role-col-text-button);
  cursor: pointer;
  background-color: var(--role-col-bgr-button);
  border: 0;
  border-radius: var(--swatch-border-radius-tiny);
  outline: none;
  transition: all var(--role-transition-buttons) ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: color-mod(var(--role-col-bgr-button) w(10%));
    }
  }

  &:active {
    background-color: color-mod(var(--role-col-bgr-button) w(20%));
  }
}
