//====================================================|
// BUTTON


//--------------------------| Variables

$bgr-color: map-get($roles-col-backgrounds, 'button');


//--------------------------| Root

.root {
  @include transition(all map-get($roles-transitions, 'buttons') ease-in-out);
  @include border-radius(map-get($reg-border-radiuses, 'tiny'));

  padding: 0.3em 2em 0.5em;
  font-size: map-get($roles-typo-font-sizes, 'button');
  line-height: 1;
  color: map-get($roles-col-texts, 'button');
  cursor: pointer;
  background-color: $bgr-color;
  border: 0;
  outline: none;

  @media (hover: hover) {
    &:hover {
      background-color: light($bgr-color, 10%);
    }
  }

  &:active {
    background-color: light($bgr-color, 20%);
  }
}
