//====================================================|
// TITLE


//--------------------------| Root

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}


//--------------------------| Logo

.logo {
  margin: 0 2em;
}


//--------------------------| Words

.title-word {
  flex: 1;
}
