//====================================================|
// APP


//--------------------------| Variables

$ratio-w: map-get($reg-proportions-app, 'w');
$ratio-h: map-get($reg-proportions-app, 'h');
$ratio: $ratio-w / $ratio-h; // 0.5625
$height: 90vh;
$width: $height * $ratio-w / $ratio-h; // 50.625
$min-width: map-get($reg-screens, 'min-w'); // 320
$min-height: $min-width / $ratio;


//--------------------------| Root

.root {
  @include font-smoothing();
  @include box-shadow(map-get($reg-shadows, 'scattered'));
  @include user-select(none);

  position: relative;
  width: $width;
  min-width: $min-width;
  height: $height;
  margin: 0 auto;
  font: map-get($roles-typo-font-weights, 'text') 1em map-get($roles-typo-font-families, 'text');
  text-align: center;
  cursor: default;
  background-color: map-get($roles-col-backgrounds, 'app');
}


//--------------------------| Inner

.inner {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between);

  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}


//--------------------------| Main

.main {
  @include display-flex();
  @include flex(1);

  margin-top: 3em;
}


//--------------------------| Input form

.input-form {
  @include margin-v(get-em-unit(map-get($roles-offsets, 'modules'), 'rem'));

  position: relative;
  width: 100%;
}


//--------------------------| Enter

.enter {
  @include translate(20%, -50%);

  position: absolute;
  top: 50%;
  width: 2.2em;
  cursor: pointer;

  svg {
    fill: map-get($reg-colors, 'green');
  }

  @media (hover: hover) {
    &:hover svg {
      fill: light(map-get($reg-colors, 'green'), 10%);
    }
  }

  &:active svg {
    fill: light(map-get($reg-colors, 'green'), 20%);
  }
}


//--------------------------| Body

.body {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);

  position: relative;
  width: 100%;
  overflow: hidden;
}


//--------------------------| Playground

.playground {
  @include display-flex();
  @include flex-direction(column);
  @include flex(1);
  @include padding-h(get-em-unit(map-get($roles-offsets, 'main')));

  width: 100%;
}


//--------------------------| Win label

.win-label {
  margin-bottom: 2em;
}


//--------------------------| Media queries

@include mq-screens-big-landscape() {
  .root {
    width: 100%;
    max-width: 820px;
    height: 100vh;
  }

  .main {
    margin: 1em 3em 0;
  }

  .body {
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(flex-start);

    height: 100%;
    padding: 0;
  }

  .new {
    @include translateX(-50%);

    position: absolute;
    top: 0;
    left: 50%;
  }

  .input-form {
    width: 50%;
    margin-top: 6.4em;
  }

  .playground {
    width: 50%;
    height: 100%;
    padding: 0;
    margin-top: 4em;
  }

  .guesses {
    height: calc(100% - 4em);
  }

  &[data-status='win'] .message {
    @include flex(none);
    @include translate(-50%, -50%);

    position: absolute;
    top: 14em;
    left: 25%;
    width: 40%;
  }
}

@include mq-screens-small-portrait() {
  .root {
    width: 100vw;
    height: 100vh;
  }
}
