//====================================================|
// APP


#app {

  //--------------------------| Variables

  $ratio-w: map-get($reg-proportions-app, 'w');
  $ratio-h: map-get($reg-proportions-app, 'h');
  $ratio: $ratio-w / $ratio-h; // 0.5625
  $height: 90vh;
  $width: $height * $ratio-w / $ratio-h; // 50.625
  $min-width: map-get($reg-screens, 'min'); // 320
  $min-height: $min-width / $ratio;


  //--------------------------| Base

  @include font-smoothing();
  @include box-shadow(map-get($reg-shadows, 'scattered'));
  @include user-select(none);

  position: relative;
  width: $width;
  min-width: $min-width;
  height: $height;
  min-height: $min-height;
  margin: 0 auto;
  overflow: auto;
  font: map-get($roles-typo-font-weights, 'text') 1em map-get($roles-typo-font-families, 'text');
  text-align: center;
  cursor: default;
  background-color: map-get($roles-col-backgrounds, 'app');

  @media screen and (max-height: #{$min-width / $ratio}) {
    width: $min-width;
    height: 100vh;
    min-height: auto;
  }

  @media (max-aspect-ratio: #{$ratio-w}/#{$ratio-h}) {
    $width-value: 100vw;

    width: $width-value;
    height: $width-value / $ratio;
  }


  //--------------------------| Main

  > main {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }


} // #app
