//====================================================|
// APP


//--------------------------| Variables

$ratio-w: map-get($reg-proportions-app, 'w');
$ratio-h: map-get($reg-proportions-app, 'h');
$ratio: $ratio-w / $ratio-h; // 0.5625
$height: 90vh;
$width: $height * $ratio-w / $ratio-h; // 50.625
$min-width: map-get($reg-screens, 'min-w'); // 320
$min-height: $min-width / $ratio;


//--------------------------| Root

.root {
  @include font-smoothing();
  @include box-shadow(map-get($reg-shadows, 'scattered'));
  @include user-select(none);

  position: relative;
  width: $width;
  min-width: $min-width;
  height: $height;
  margin: 0 auto;
  overflow: hidden;
  font: map-get($roles-typo-font-weights, 'text') 1em map-get($roles-typo-font-families, 'text');
  text-align: center;
  cursor: default;
  background-color: map-get($roles-col-backgrounds, 'app');
}


//--------------------------| Inner

.inner {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between);

  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}


//--------------------------| Media queries

@include mq-screens-small-portrait() {
  .root {
    width: 100vw;
    height: 100vh;
  }
}
