//====================================================|
// REGISTRIES: TYPOGRAPHY


//--------------------------| Font families

$reg-font-families: (
  'boc–bull': 'Bull',
  'boc–sans': '"Open Sans", sans-serif',
  'boc-mono': '"Courier New", monospace',
  'boc–sys':  '"Verdana", sans-serif'
);


//--------------------------| Font weights

$reg-font-weights: (
  'regular': 400,
  'bold':    700
);


//--------------------------| Line-heights

$reg-line-heights: (
  'normal': normal
);
