//====================================================|
// HYPERLINK


//--------------------------| Root

.root {
  color: var(--role-col-link-link);
  cursor: pointer;
  transition: all var(--role-transition-hyperlinks) ease-in-out;

  @media (hover: hover) {
    &:hover {
      color: var(--role-col-link-hover);
    }
  }

  &:active {
    color: var(--role-col-link-active);
  }
}
