//====================================================|
// GUESS LINE


//--------------------------| Root

.root {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  @include white-line();

  background-color: map-get($roles-col-backgrounds, 'guess-line');

  &[data-current] {
    background-color: rgba(map-get($reg-colors, 'yellow'), 0.8);
  }
}


//--------------------------| Num

.num {
  @include flex(1);

  text-align: left;
}


//--------------------------| Guess

.guess {
  @include flex(1);

  text-align: left;

  .root[data-current] & {
    color: lighten(map-get($roles-col-texts, 'guess'), 15%);
  }
}


//--------------------------| Result

.result {
  @include flex(2);

  text-align: right;
}
