//====================================================|
// GUESS LINE


//--------------------------| Root

.root {
  @include white-line();

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: map-get($roles-col-backgrounds, 'guess-line');

  &[data-current] {
    background-color: rgba(map-get($reg-colors, 'yellow'), 0.8);
  }
}


//--------------------------| Num

.num {
  flex: 1;
  text-align: left;
}


//--------------------------| Guess

.guess {
  flex: 1;
  text-align: left;

  .root[data-current] & {
    color: lighten(map-get($roles-col-texts, 'guess'), 15%);
  }
}


//--------------------------| Result

.result {
  flex: 2;
  text-align: right;
}
