//====================================================|
// RESULT


//--------------------------| Root

.root {
  display: flex;
  justify-content: flex-end;
}


//--------------------------| Result item

.result-item {
  &:not(:last-child) {
    margin-right: get-em-unit(map-get($roles-offsets, 'result-item'));
  }
}
