//====================================================|
// MIXINS: HELPERS


//--------------------------| Padding

@mixin padding-v($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-h($value) {
  padding-right: $value;
  padding-left: $value;
}


//--------------------------| Margin

@mixin margin-v($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin margin-h($value) {
  margin-right: $value;
  margin-left: $value;
}


//--------------------------| Border

@mixin border-v($value) {
  border-top: $value;
  border-bottom: $value;
}

@mixin border-h($value) {
  border-right: $value;
  border-left: $value;
}


//--------------------------| Scaler

@mixin scaler($property, $min-size) {
  $ratio-w: map-get($reg-proportions-app, 'w');
  $ratio-h: map-get($reg-proportions-app, 'h');
  $ratio: $ratio-w / $ratio-h; // 0.5625
  $width: map-get($reg-screens, 'min-w');
  $height: 100 * ($width / $ratio) / 90;

  @if unit($height) == unit($min-size) {
    & {
      @media screen and (min-height: $height) {
        #{$property}: #{($min-size * 100 / $height)}vh;
      }

      @media screen and (max-width: $width) and (orientation: portrait) {
        #{$property}: #{($min-size * 100 / $width)}vw;
      }

      @media screen and (max-height: $height), screen and (max-width: $width) {
        #{$property}: $min-size;
      }
    }
  }
}
