//====================================================|
// SCAFFOLDINGS: TYPOGRAPHY


//--------------------------| Bull

@font-face {
  font-family: 'Bull';
  src: url('../../assets/fonts/boc.woff2') format('woff2'),
       url('../../assets/fonts/boc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
