//====================================================|
// SCORES


//--------------------------| Results

.results {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: var(--role-col-bgr-app);
  transition: transform var(--role-transition-popovers) ease-in-out;
  transform: translateY(-100%);

  &.opened {
    transform: translateY(0);
  }

  a {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}


//--------------------------| Score

.score {
  width: 75%;
  margin: 0 auto;

  + .score {
    --offset: 1.5em;

    padding-top: var(--offset);
    margin-top: var(--offset);
    border-top: var(--swatch-border-type-separator);
  }
}


//--------------------------| Icon

.icon {
  position: absolute;
  top: -1em;
  left: 50%;
  height: auto;
  transform: translateX(-50%);

  @media screen and (orientation: portrait) {
    width: 50%;
  }

  @media screen and (orientation: landscape) {
    width: 20vh;
  }
}
