//====================================================|
// ROLES: TYPOGRAPHY


//--------------------------| Base font size

$roles-base-font-size: 16px;


//--------------------------| Font families

$roles-typo-font-families: (
  'title':  unquote(map-get($reg-font-families, 'boc-bull')),
  'text':   unquote(map-get($reg-font-families, 'boc-sans')),
  'digits': unquote(map-get($reg-font-families, 'boc-mono')),
  'sys':    unquote(map-get($reg-font-families, 'boc-sys'))
);


//--------------------------| Font sizes range

$roles-typo-font-sizes-base: (
  'min': $roles-base-font-size,
  'max': 32px
);


//--------------------------| Font sizes hierarchy

$roles-typo-font-sizes: (
  'title':       get-em-unit(92),
  'system':      get-em-unit(24),
  'input':       get-em-unit(60),
  'button':      get-em-unit(42),
  'num':         get-em-unit(32),
  'guess':       get-em-unit(42),
  'result':      get-em-unit(42),
  'hyperlink':   get-em-unit(32),
  'message':     get-em-unit(72)
);


//--------------------------| Line-heights

$roles-typo-line-heights: (
  'text':        map-get($reg-line-heights, 'normal')
);


//--------------------------| Font weights

$roles-typo-font-weights: (
  'title':       map-get($reg-font-weights, 'normal'),
  'text':        map-get($reg-font-weights, 'normal'),
  'sys':         map-get($reg-font-weights, 'normal'),
  'input':       map-get($reg-font-weights, 'bold'),
  'guess':       map-get($reg-font-weights, 'bold'),
  'null-point':  map-get($reg-font-weights, 'normal'),
  'score-point': map-get($reg-font-weights, 'bold')
);
