//====================================================|
// ROLES: COLORS


//--------------------------| Animals

$roles-col-animals: (
  'bull':        map-get($reg-colors, 'red'),
  'cow':         map-get($reg-colors, 'green')
);


//--------------------------| Text

$roles-col-texts: (
  'title':       map-get($reg-colors, 'white'),
  'system':      map-get($reg-colors, 'dusty-gray'),
  'input':       map-get($reg-colors, 'white'),
  'button':      map-get($reg-colors, 'white'),
  'placeholder': map-get($reg-colors, 'dove-gray'),
  'written':     map-get($reg-colors, 'blue'),
  'null-point':  map-get($reg-colors, 'dove-gray'),
  'score-point': map-get($reg-colors, 'black'),
  'message':     map-get($reg-colors, 'red')
);


//--------------------------| Links

$roles-col-links: (
  'link':        map-get($reg-colors, 'green'),
  'hover':       light(map-get($reg-colors, 'green'), 20%),
  'active':      light(map-get($reg-colors, 'green'), 30%)
);


//--------------------------| Backgrounds

$roles-col-backgrounds: (
  'button':      map-get($reg-backgrounds, 'red'),
  'input':       map-get($reg-backgrounds, 'black'),
  'success':     map-get($reg-backgrounds, 'green'),
  'guess-line':  map-get($reg-backgrounds, 'glass')
);
