//====================================================|
// ROLES: TYPOGRAPHY


//--------------------------| Font families

$roles-typo-font-families: (
  'title':   unquote(map-get($reg-font-families, 'boc-bull')),
  'text':    unquote(map-get($reg-font-families, 'boc-sans')),
  'digits':  unquote(map-get($reg-font-families, 'boc-mono')),
  'sys':     unquote(map-get($reg-font-families, 'boc-sys')),
  'message': unquote(map-get($reg-font-families, 'boc-bull'))
);


//--------------------------| Font sizes range

$roles-typo-font-sizes-base: (
  'min': $base-html-font-size,
  'max': 18px
);


//--------------------------| Font sizes hierarchy

$roles-typo-font-sizes: (
  'title':       map-get($reg-typo-font-sizes, '38'), // 92
  'sys':         map-get($reg-typo-font-sizes, '10'), // 24
  'input':       map-get($reg-typo-font-sizes, '25'), // 60
  'button':      map-get($reg-typo-font-sizes, '17'), // 42
  'num':         map-get($reg-typo-font-sizes, '13'), // 32
  'guess':       map-get($reg-typo-font-sizes, '17'), // 42
  'result':      map-get($reg-typo-font-sizes, '17'), // 42
  'hyperlink':   map-get($reg-typo-font-sizes, '13'), // 32
  'message':     map-get($reg-typo-font-sizes, '30')  // 72
);


//--------------------------| Line-heights

$roles-typo-line-heights: (
  'text':        map-get($reg-line-heights, 'normal')
);


//--------------------------| Font weights

$roles-typo-font-weights: (
  'title':       map-get($reg-font-weights, 'normal'),
  'text':        map-get($reg-font-weights, 'normal'),
  'sys':         map-get($reg-font-weights, 'normal'),
  'input':       map-get($reg-font-weights, 'bold'),
  'guess':       map-get($reg-font-weights, 'bold'),
  'null-point':  map-get($reg-font-weights, 'normal'),
  'score-point': map-get($reg-font-weights, 'bold'),
  'validation':  map-get($reg-font-weights, 'bold')
);
