//====================================================|
// SCORE


//--------------------------| Root

.root {
  display: block;
}


//--------------------------| Label

.label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  color: var(--role-col-text-sys);

  &::after {
    content: ':';
  }
}


//--------------------------| Value

.value {
  font-size: 2em;
  font-weight: var(--role-typo-font-weight-score);
}


//--------------------------| Date

.date {
  display: block;
}
