//====================================================|
// INPUT


//--------------------------| Root

.root {
  @include selection(map-get($reg-colors, 'red'));

  width: 4em;
  padding: 0.3em 0;
  font: var(--role-typo-font-weight-input) var(--role-typo-font-size-input) var(--role-typo-font-family-digits);
  color: var(--role-col-text-input);
  text-indent: 0.28em;
  letter-spacing: 0.3em;
  background-color: var(--role-col-bgr-input);
  border: 1px solid transparent;
  border-radius: var(--swatch-border-radius-tiny);
  outline: none;
  box-shadow: var(--swatch-shadow-medium);
  appearance: none;
  transition: all var(--swatch-transition-100ms) ease-in-out;

  &:focus {
    border: var(--swatch-border-type-white);
  }

  &[disabled] {
    pointer-events: none;
    background-color: var(--role-col-bgr-success);
    border-color: transparent;
    -webkit-text-fill-color: var(--role-col-text-input);
  }
}
