//====================================================|
// INPUT


//--------------------------| Root

.root {
  @include selection(map-get($reg-colors, 'red'));

  width: 4em;
  padding: 0.3em 0;
  font: map-get($roles-typo-font-weights, 'input') map-get($roles-typo-font-sizes, 'input') map-get($roles-typo-font-families, 'digits');
  color: map-get($roles-col-texts, 'input');
  text-indent: 0.28em;
  letter-spacing: 0.3em;
  background-color: map-get($roles-col-backgrounds, 'input');
  border: 1px solid transparent;
  border-radius: map-get($reg-border-radiuses, 'tiny');
  outline: none;
  box-shadow: map-get($reg-shadows, 'medium');
  appearance: none;
  transition: all map-get($reg-transitions, '100ms') ease-in-out;

  &:focus {
    border: map-get($reg-borders, 'white');
  }

  &[disabled] {
    pointer-events: none;
    background-color: map-get($roles-col-backgrounds, 'success');
    border-color: transparent;
    -webkit-text-fill-color: map-get($roles-col-texts, 'input');
  }
}
